doctype html
html
  head
    title ECHO Playground
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    script(src="/scripts/jquery.js")
    block head
  body
    div(class='hero-unit')
      div(class='pull-left')
        table
          tr
            td
              a(href='/demoapp/accounts?page=1', class='btn btn-success') Accounts
            td  
              a(href='/demoapp/patients?page=1', class='btn btn-success') Patients
            td  
              a(href='/demoapp/questions', class='btn btn-success') Questions
      div(class='pull-right')
        table
          tr 
            td Welcome #{username}! Role: #{role}
            td
              a(href='/demoapp/home', class='btn btn-warning') View Profile
            td
              a(href='/demoapp/logout', class='btn btn-warning') Logout
      br
      br
      div(id='content', class='text-center')
        h1 ECHO Playground
        block content