body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

td {
padding-left:10px;
padding-top:10px;
line-height: 10px;
}



th {
padding:10px;
line-height: 1px;
}

td.question {
padding-top:30px;
}

td.answer {
padding-bottom:10px;
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.question-text {
width: 300px;
}

.q-text {
width: 300px;
}

.question-value {
width: 100px;
}

