extends ../layout

block head
block content
    h2 Account Details
    table(align='center')
        tr(align='left')
            td Username 
            td #{account.username}
        tr(align='left')
            td Mail 
            td #{account.email}
        tr(align='left')
            td Role
            td #{account.role}
        tr(align='left') 
            td
                a(href='/demoapp/accounts?page=1', class='btn btn-success') Back


    
                