extends ../layout

block head
block content
    - var caption
    - var act
    - if (typeof(account) !== 'undefined'){
        h2 Edit Account
        - caption = 'Update Account'
        - act = 'update'
    - }
    - else{
        h2 Create Account
        - caption = 'Save'
        - act = 'add'
    - } 
        p#msg
        form(id='Editform', action=act, method='post') 
            div.control-group
                fieldset
                    legend. 
                        Account Data
                    table#account(align='center') 
                        tr
                            td(align='left'): label(for='username',class='control-label') Username
                            td: input(type='text',id='username',name='username',class='input-xlarge',placeholder='Username', value=(account?account.username:''))
                        tr
                            td(align='left'): label(for='password',class='control-label') Password
                            td: input(type='password',id='password',name='password',class='input-xlarge',placeholder='Password')
                        tr
                            td(align='left'): label(for='verification',class='control-label') Password Verification
                            td: input(type='password',id='verification',name='verification',class='input-xlarge',placeholder='Password verification')
                        tr
                            td(align='left'): label(for='email',class='control-label') E-Mail
                            td: input(type='text',id='email',name='email',class='input-xlarge',placeholder='E-Mail Address', value=(account?account.email:''))
                        - if (typeof(account) == 'undefined'){
                            tr
                                td(align='left'): label(for='role',class='control-label') Role
                                td
                                    select(type='text',id='role',name='role',class='input-xlarge')
                                        option(value='doctor') Doctor
                                        option(value='admin') Admin
                        -}
                        - else {
                            tr
                                td(align='left'): label(for='role',class='control-label') Role
                                td(align='left'): label(for='role',class='control-label') #{account.role}
                        -}
                        tr(align='left')   
                            td 
                                - if (typeof(account) !== 'undefined'){
                                    input(type='hidden', id='accountId', value=account.accountId)
                                - }
                                input(type='submit', value=caption, class='btn btn-success')
                        
                    